<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/output.css" rel="stylesheet">
  <style>
    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1.5em;
    }

    h3 {
      font-size: 1.17em;
    }

    p {
      margin: 16px 0px;
    }

  
  </style>
</head>

<body class="detail">

    <%- include('nav.ejs') %>
    <% console.log(data) %>

    <div id="detailWrapper" class="p-4 mt-20">

    <div class="flex flex-col gap-4 mb-2">

    <section class="title py-2 header flex flex-col gap-4">
        <h1 class="text-2xl font-bold"><%= data.title %></h1>

        <div class="flex justify-between">
          <div class="flex gap-2 flex-wrap basis-5/12">
            <span><strong><%= data.writer %></strong></span>
            <span><%= data.date %></span>
          </div>

          <div class="flex">
            <span class="border py-1 px-2 rounded-2xl h-9 border-gray-400" id="likeBtn" data-postId=<%- `post_id_${data.id}` %>>❤️ 112</span>
            <span></span>
          </div>
          
        </div>
    </section>

    <section class="tags">
      <ul class="flex gap-2">
        <% let tagArray = data.tags.split(',') %>

        <% if(tagArray.length === 1 && tagArray[0] == "") {%>
          <%null%>
          <% } else { %>
        <% for (let i=0; i < tagArray.length; i++) { %>
          <li class="tag border px-2 py-1 bg-gray-50 text-green-400 rounded-lg"><a class="text-green-400"><%- tagArray[i] %></a></li>
        <% } %>
        <% } %>



      </ul>
    </section>

  </div>

  <hr></hr>

   <div class="mt-2">
    <section>
      <p class="text-gray-700 text-lg" id="content"><%= data.content %></p>
    </section>
   </div>   
  </div>
    
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/like.js"></script>

</body>

</html>