<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NodeBlog List</title>
  <link href="/output.css" rel="stylesheet">
  <style>
    h1 {
      font-size: 1.5rem;
      font-weight: 700;
      color: #292D32;
    }

    h2 {
      font-size: 1.3rem;
    }

    .singlePost img {
      display: none;
    }
  </style>
</head>

<body class="bg-gray-50 pb-4">
  <%- include('nav.ejs') %>

  <div id="mypageWrapper" class="mt-20 max-w-5xl mx-auto">
    <section class="header py-7 p-4 bg-white flex gap-8">
      <div>
        <% if(profileImage == null) {%>
          <img id="userImage" src="/images/profile.svg" alt="profile" class="w-24 h-24 rounded-full">
          <% } else { %>
          <img id="userImage" src="<%- profileImage %>" alt="profile" class="w-24 h-24 rounded-full">
          <% } %>
          
        <div class="flex flex-col gap-4 mt-4">
                <span id="imageUploadBtn" class="bg-green-500 text-white rounded-lg w-40 px-4 py-2 cursor-pointer text-center">Image Upload</span>
                <span id="imageDeleteBtn" class="bg-gray-200 text-black rounded-lg w-40 px-4 py-2 cursor-pointer text-center">Image Delete</span> 
            <input id="file-input" type="file" class="hidden" accept="image/*"/>
        </div>
      </div>


      <div role="status" id="spinner" class="hidden">
        <svg aria-hidden="true" class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
        </svg>
        <span class="sr-only">Loading...</span>
    </div>


      
      <h1><%- user.username %></h1>
    </section>

    <hr>

    <section class="posts py-5 flex justify-end gap-4 p-4 bg-white">
      <span class="text-lg"><strong>0</strong> 팔로워</span>
      <span class="text-lg"><strong>0</strong> 팔로잉</span>
    </section>

    <section class="mt-5">
      <div class="bg-white">
        <div class="flex justify-between items-center p-4">
          <h2 class="text-lg font-semibold">My Posts</h2>
          <a href="/write" class="text-blue-500">Publish now</a>
        </div>
        <hr>

        <div class="p-8">
          <% for (let i=0; i < posts.length; i++) { %>
          <div class="flex flex-col gap-4 max-w-3xl border-b-2 rounded drop-shadow-lg overflow-hidden mb-6 pb-2 mx-auto" data-post=<%- `${posts[i].id}` %>>
            <% if (posts[i].thumbnailUrl) { %>
            <section class="relative w-full">
              <img src="<%- posts[i].thumbnailUrl %>" alt="hero" class="block object-cover h-auto max-h-80 w-full">
            </section>
            <% } %>
            <section class="flex flex-col gap-4 justify-between px-2">
              <div class="flex flex-col gap-1 singlePost">
                <a href="<%- `/detail/${posts[i].id}` %>">
                  <h2 class="font-semibold">
                    <%= posts[i].title %>
                  </h2>
                </a>
                <span class="data-content"><%- posts[i].markdownContent %></span>
              </div>
              <%  let tagArray = posts[i].tags.split(",") %>
              <% if (tagArray.length> 0 && tagArray[0] !== "") { %>
              <section class="tags">
                <ul class="flex gap-2">
                  <% tagArray.forEach(tag=> { %>
                  <li class="tag border px-2 py-1 bg-gray-50 text-green-400 rounded-lg">
                    <a class="text-green-400"><%- tag %></a>
                  </li>
                  <% }); %>
                </ul>
              </section>
              <% } else if (tagArray[0] = "" && tagArray.length === 1) {%>
              <% null %>
              <% } %>

              <div class="flex gap-4">
                <span><%- posts[i].createdAt %></span>
                <span>0 comments</span>
                <span>0 likes</span>
              </div>

              <div>
                <span class="trashcan cursor-pointer mr-4 text-lg" data-deleteId=<%- `post_id_${posts[i].id}` %>>🗑️</span>
                <a  href="<%- `/edit/${posts[i].id}` %>" class="editpen cursor-pointer text-lg" data-editId=<%- `post_id_${posts[i].id}` %>>✏️</a>
              </div>
            </section>
          </div>
          <% } %>
        </div>
      </div>
    </section>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/mypage.js"></script>
</body>

</html>